body {
    font-family: Arial, sans-serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 120px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

input[type="submit"], button {
    display: inline;
    width: 48%;
    padding: 10px;
    background-color: #ff6b81;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: #fff;
}

input[type="submit"]:hover, button:hover {
    color: white;
    background-color: #ff4757;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}